<div class="span3">
    {{ render(controller('EcommerceBundle:Panier:sidebarPanier')) }}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% include 'UtilisateursBundle:Default/modulesUsed:utilisateursConnecte.html.twig' %}
    {% else %}
        {% include 'UtilisateursBundle:Default/modulesUsed:utilisateurs.html.twig' %}
    {% endif %}

    <div class="well">
        <ul class="nav nav-list">
            <li class="nav-header">Nos produits</li>
            {{ render(controller('EcommerceBundle:Categories:menu')) }}
        </ul>
    </div>
</div>